<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>bambu.servlet.Sesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/BambuStore_Sesion</url-pattern>
    </servlet-mapping>
</web-app>
